
  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  input,
  textarea,
  select,
  button {
    outline: none;
  }
  
  input {
    line-height: normal;
  }
  
  label,
  button {
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  .wrapper {
    max-width: 100%;
    width: 1440px;
    margin: 0 auto;
  }
  
  .container {
    max-width: 100%;
    width: 1230px;
    margin: 0 auto;
  }
  
  body {
    font-family: "SVN-Product Sans", sans-serif;
    color: #000000;
    font-size: 16px;
    line-height: 1;
    background-color: #e5e5e5;
  }
  
  .header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
    padding: 0 10rem;
  }
  .header-nav {
    padding: 17px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-nav__content {
    display: flex;
    align-items: center;
  }
  .header-logo {
    width: 56px;
    height: 56px;
    margin-right: 63px;
  }
  .header-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 60px;
  }
  .header-cart {
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #ffc800;
    border-radius: 50%;
  }
  .actives{
    background-color: #ffc800;
  }
  .header-cart__quantity {
    background-color: #009efe;
    padding: 3px 7px;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(35%, -35%);
  }
  .header-cart__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .menu {
    display: flex;
    color: inherit;
    gap: 0 40px;
  }
  .menu-item {
    font-weight: bold;
    font-size: 16px;
    position: relative;
    line-height: 24px;
    transition: all 0.1s linear;
  }
  .menu-item:hover .menu-item__hover {
    opacity: 1;
  }
  .menu-item__hover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #ffc800;
    border-radius: 6px;
    z-index: -1;
    transform: translateY(-50%);
    opacity: 0;
    transition: all 0.1s linear;
  }
  .menu-link {
    color: inherit;
  }
  .menu__mobile {
    width: 24px;
    height: 24px;
    /* display: none; */
  }
  .menu-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media screen and (max-width: 1279px) {
    .menu {
      display: none;
    }
    .menu__mobile {
      display: block;
    }
  }
  @media screen and (max-width: 767px) {
    .header {
      padding: 0 1rem;
    }
  }
  .banner {
    margin-top: 10rem;
  }
  .banner-container {
    width: 100%;
    height: 53.5rem;
    overflow: hidden;
    position: relative;
  }
  .banner-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    border: 2px rgba(196, 196, 196, 0.768627451) solid;
    border-radius: 2rem;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1019607843);
  }
  .banner-input {
    display: none;
  }
  .banner-list {
    width: 500%;
    height: 48rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-image {
    width: 20%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    border-radius: 2rem;
  }
  .banner-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    gap: 0 8px;
  }
  .banner-navigation__input {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.25s linear;
  }
  .banner-navigation__input > .radio11{
    background-color: #ffc800;
  
  }
  .banner-navigation__input:hover {
    background-color: #ffc800;
  }
  
  #radio1:checked ~ .banner-list .first {
    margin-left: 0;
    background-color: #ffc800;

  }
  .iconn{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    font-size: 25px;
    position: absolute;
  }

 .cinmeo{
    background-color: #ffc800;
  }
  
  #radio1:checked ~ .banner-navigation .radio1 {
    background-color: #ffc800;
  }
  
  #radio2:checked ~ .banner-list .first {
    margin-left: -40%;
  }
  
  #radio2:checked ~ .banner-navigation .radio2 {
    background-color: #ffc800;
  }
  
  #radio3:checked ~ .banner-list .first {
    margin-left: -80%;
  }
  
  #radio3:checked ~ .banner-navigation .radio3 {
    background-color: #ffc800;
  }
  
  #radio4:checked ~ .banner-list .first {
    margin-left: -120%;
  }
  
  #radio4:checked ~ .banner-navigation .radio4 {
    background-color: #ffc800;
  }
  
  #radio5:checked ~ .banner-list .first {
    margin-left: -160%;
  }
  
  #radio5:checked ~ .banner-navigation .radio5 {
    background-color: #ffc800;
  }
  
  @media screen and (max-width: 1279px) {
    .banner {
      padding: 0 5rem;
    }
  }
  @media screen and (max-width: 1022px) {
    .banner-container {
      height: 30rem;
    }
    .banner-container::before {
      height: 80%;
    }
    .banner-list {
      height: 24rem;
    }
  }
  @media screen and (max-width: 767px) {
    .banner {
      padding: 0 0.5rem;
    }
    .banner-container {
      height: 20rem;
    }
    .banner-list {
      height: 16rem;
    }
    .banner-navigation__input {
      width: 1rem;
      height: 1rem;
    }
  }
  .promise {
    margin: 102px 0 130px 0;
  }
  .promise-container {
    position: relative;
  }
  .promise-image {
    position: relative;
  }
  .promise-title {
    font-weight: bold;
    font-size: 48px;
    color: #000000;
    width: 53rem;
    line-height: 7.2rem;
    position: absolute;
    top: 0;
    left: 0;
  }
  .promise-desc {
    width: 39rem;
    position: absolute;
    top: 0;
    right: 0;
  }
  .promise-desc__one,
  .promise-desc__two,
  .promise-desc__three {
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #000000;
    line-height: 2.4rem;
    margin-bottom: 1rem;
  }
  .promise-person {
    position: relative;
    margin: 0 auto;
  }
  .promise-city {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
  }
  .promise-leaf__primary {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .promise-leaf__secondary {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-53%, -65%);
    z-index: -2;
  }
  .promise-street {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-100%, 100%);
    z-index: -1;
  }
  
  @media screen and (max-width: 1279px) {
    .promise {
      padding: 0 5rem;
    }
    .promise-image {
      margin-bottom: 13rem;
    }
    .promise-desc {
      position: relative;
      width: 100%;
    }
    .promise-title {
      width: 100%;
      position: relative;
    }
  }
  @media screen and (max-width: 1023px) {
    .promise-person {
      height: 407px;
      width: 130px;
    }
    .promise-leaf__primary,
    .promise-leaf__secondary {
      height: 27rem;
      width: 204px;
    }
  }
  @media screen and (max-width: 767px) {
    .promise {
      padding: 0 1.5rem;
    }
    .promise-city {
      height: 64%;
      object-fit: cover;
      object-position: center;
    }
    .promise-title {
      font-size: 24px;
      line-height: 3.6rem;
    }
  }
  .tote-new {
    margin: 1.5rem 0 5.6rem 0;
  }
  .tote-new__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tote-new__content {
    width: 60%;
    height: 100%;
  }
  .tote-new--title {
    font-weight: bold;
    color: #000000;
    font-size: 44px;
    line-height: 72px;
    max-width: 53rem;
  }
  .tote-new--desc {
    font-family: "Roboto", sans-serif;
    line-height: 2.4rem;
    color: #000000;
    max-width: 60rem;
  }
  .tote-new--information {
    margin-top: 5.5rem;
    width: 65.4rem;
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem;
    padding: 3.2rem 4rem;
    position: relative;
  }
  .tote-new--information::before {
    content: "";
    width: 26.56px;
    height: 126.75px;
    background-color: #fcd4d4;
    position: absolute;
    left: 1rem;
    top: -3rem;
    transform: rotate(45deg);
    opacity: 0.9;
  }
  .tote-new__list {
    margin-bottom: 2.3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }
  .tote-new__item {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 0 1.4rem;
    margin-bottom: 1.6rem;
  }
  .tote-new__text {
    font-family: "Roboto", sans-serif;
    line-height: 2.4rem;
    font-weight: 400;
  }
  .tote-new__link {
    margin-top: 6px;
    display: inline-block;
    background-color: #ffc800;
    padding: 10px 29px;
    border-radius: 1rem;
    font-weight: bold;
    color: #000000;
  }
  .tote-new--img {
    width: 53rem;
    height: 56rem;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 50% 50%;
  }
  .tote-new__person {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 3;
  }
  .tote-new__person-last {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  .tote-new--circle__image {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(8%, -4%);
    z-index: 1;
  }
  .tote-new--circle {
    bottom: 0;
    left: 0;
    width: 50rem;
    height: 50rem;
    transform: translate(2%, 2%);
    position: absolute;
    background: linear-gradient(
      to bottom,
      rgba(254, 206, 31, 0.7882352941),
      rgba(246, 238, 209, 0.462745098)
    );
    border-radius: 50%;
    z-index: 1;
  }
  
  @media screen and (max-width: 1279px) {
    .tote-new__container {
      padding: 0 5rem;
      padding: 0 5rem;
      flex-direction: column-reverse;
      gap: 32px 0;
    }
  }
  @media screen and (max-width: 1023px) {
    .tote-new--img {
      width: 37rem;
      height: 37rem;
    }
    .tote-new__person,
    .tote-new__person-last {
      width: 15rem;
      height: 30rem;
    }
    .tote-new--circle {
      width: 30rem;
      height: 30rem;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .tote-new--circle__image {
      width: 30rem;
      height: 30rem;
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translate(-42%, 0);
    }
  }
  @media screen and (max-width: 767px) {
    .tote-new__container {
      padding: 0 1.5rem;
    }
    .tote-new--title {
      font-size: 24px;
      line-height: 36px;
    }
    .tote-new--information {
      width: 100%;
    }
  }
  .tote-hot {
    margin-bottom: 13rem;
  }
  .tote-hot--title {
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
  }
  .tote-hot--desc {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 9.2rem;
    width: 60rem;
  }
  .tote-hot--list {
    display: flex;
    height: 46rem;
    gap: 0 30px;
    overflow-x: auto;
  }
  .tote-hot--list::-webkit-scrollbar {
    display: none;
  }
  .tote-hot--item {
    flex-shrink: 0;
    cursor: pointer;
    position: relative;
    width: 28.5rem;
    height: 39.7rem;
    overflow: hidden;
    transition: all 0.2s linear;
    border-radius: 1rem;
    border: 4px solid transparent;
  }
  .tote-hot--item:hover {
    height: 46rem;
    border: 4px solid #ffc800;
  }
  .tote-hot--item:hover > .tote-hot--box__after {
    top: -1.2rem;
    right: -1.2rem;
    height: 46rem;
  }
  .tote-hot--box {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 2.4rem;
    border-radius: 1rem;
  }
  .tote-hot--buy {
    margin: 2rem auto 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 1.4rem 7rem;
    background-color: #ffc800;
    border-radius: 1.2rem;
    color: #000000;
    transition: all 0.2s linear;
    display: inline-block;
  }
  .tote-hot--image {
    width: 23.7rem;
    height: 23.7rem;
    object-fit: cover;
    border-radius: 1rem;
  }
  .tote-hot--name {
    font-weight: bold;
    line-height: 24px;
    margin: 1.4rem 0 4px 0;
  }
  .tote-hot--money {
    font-weight: bold;
    color: #009efe;
  }
  .tote-hot--color {
    margin-top: 8px;
    display: flex;
    gap: 0 8px;
  }
  .tote-hot--color__pink {
    display: block;
    cursor: pointer;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
    background-color: #ef9cd6;
  }
  .tote-hot--color__blue {
    display: block;
    cursor: pointer;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
    background-color: #85cef2;
  }
  .tote-hot--color__yellow {
    cursor: pointer;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
    background-color: #f4ea88;
    display: block;
  }
  .tote-hot--color__white {
    display: block;
    cursor: pointer;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
  }
  .tote-hot--box__after {
    position: absolute;
    /* background: url(../image/box-after.png) no-repeat center center/cover; */
    top: 0rem;
    right: 0rem;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 1.2rem;
    transition: all 0.2s linear;
  }
  
  @media screen and (max-width: 1279px) {
    .tote-hot {
      padding: 0 5rem;
    }
    .tote-hot--desc {
      width: 100%;
    }
  }
  @media screen and (max-width: 767px) {
    .tote-hot {
      margin-bottom: 2rem;
      padding: 0 1.5rem;
    }
    .tote-hot--title {
      font-size: 24px;
    }
    .tote-hot--list {
      height: 36rem;
    }
    .tote-hot--item {
      border: 0px;
    }
    .tote-hot--item:hover {
      border: 0px;
    }
    .tote-hot--box {
      padding: 0.2rem;
    }
    .tote-hot--image {
      width: 144px;
      height: 144px;
    }
    .tote-hot--item {
      width: 14.4rem;
      height: 30rem;
    }
    .tote-hot--item:hover {
      overflow: visible;
      height: 36rem;
    }
    .tote-hot--item:hover > .tote-hot--box__after {
      top: -1.2rem;
      right: -1.2rem;
      height: 36rem;
    }
    .tote-hot--buy {
      padding: 1rem 1.5rem;
      width: 90%;
      margin-left: 0.5rem;
    }
  }
  .assess {
    display: flex;
    gap: 0 15rem;
    align-items: center;
    margin-bottom: 10rem;
  }
  .assess--title {
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
  }
  .assess--desc {
    max-width: 60rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 4rem;
  }
  
  .assess-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 75px;
  }
  .assess-first {
    position: relative;
  }
  .assess-first::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(
      to bottom,
      rgb(245, 245, 245),
      rgba(255, 255, 255, 0.572)
    );
    border-radius: 1rem;
  }
  .assess-last {
    position: relative;
  }
  .assess-last::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.926),
      rgba(255, 255, 255, 0.656)
    );
    border-radius: 1rem;
  }
  .assess-feature__image {
    width: 462px;
    height: 15rem;
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 20px;
  }
  .assess-feature__image:first-of-type {
    margin-top: 0;
  }
  .assess-list {
    display: none;
  }
  .assess-control__up,
  .assess-control__down {
    cursor: pointer;
    margin-bottom: 30px;
    width: 40px;
    height: 40px;
    background-color: #ffc800;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .assess-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media screen and (max-width: 1279px) {
    .assess {
      flex-direction: column;
      align-items: flex-start;
      gap: 32px 0;
    }
    .assess-container {
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 1023px) {
    .assess-slider {
      flex-direction: column;
    }
    .assess-control {
      transform: rotate(90deg);
    }
  }
  @media screen and (max-width: 1023px) {
    .assess-cart {
      width: 40rem;
      height: 50rem;
      object-fit: fit;
    }
  }
  @media screen and (max-width: 767px) {
    .assess-cart {
      width: 30rem;
      height: 36rem;
    }
    .assess-container {
      padding: 2.4rem;
    }
    .assess--title {
      font-size: 24px;
    }
    .assess-feature__image {
      width: 100%;
    }
  }
  .instagram-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px 0;
    margin-bottom: 4.8rem;
  }
  .instagram-contact {
    display: flex;
    gap: 0 5px;
    align-items: center;
  }
  .instagram-title {
    font-weight: bold;
    font-size: 48px;
  }
  .instagram-desc {
    text-align: center;
    width: 60rem;
    font-family: "Roboto", sans-serif;
    line-height: 24px;
  }
  .instagram-link {
    cursor: pointer;
    color: #009efe;
    font-weight: bold;
    font-size: 14px;
  }
  .instagram-icon {
    font-size: 20px;
  }
  .instagram-list {
    position: relative;
    display: flex;
    overflow-x: auto;
    user-select: none;
    gap: 0 30px;
    scroll-behavior: smooth;
    scroll-snap-type: x;
    width: 100%;
  }
  .instagram-list::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 200%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
  }
  .instagram-list::-webkit-scrollbar {
    display: none;
  }
  .instagram-item {
    scroll-snap-align: start;
    min-width: 27rem;
    height: 27rem;
    user-select: none;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 1.5rem;
  }
  .instagram-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    display: inline-block;
  }
  
  @media screen and (max-width: 1023px) {
    .instagram-item {
      min-width: 20rem;
      height: 20rem;
    }
  }
  @media screen and (max-width: 767px) {
    .instagram-title {
      font-size: 24px;
    }
    .instagram-desc {
      width: 100%;
    }
    .instagram-item {
      min-width: 14.7rem;
      height: 14.7rem;
    }
    .instagram-content {
      padding: 0 1.5rem;
    }
  }
  .footer {
    width: 100%;
    margin-top: 84px;
    background-color: #fff;
  }
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
  }
  .footer-content {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px 40px;
    flex-wrap: wrap;
  }
  .footer-content__link {
    display: inline-block;
    color: #000000;
  }
  .footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px 40px;
    width: 50%;
    flex-wrap: wrap;
  }
  .footer-social__since {
    display: inline-block;
  }
  .footer-social--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px 20px;
  }
  
  @media screen and (max-width: 1279px) {
    .footer {
      padding: 0 3rem;
    }
    .footer-content__link {
      padding-right: 5rem;
    }
  }
  @media screen and (max-width: 767px) {
    .footer-container {
      flex-direction: column;
      justify-content: flex-start;
    }
    .footer-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      width: 100%;
    }
    .footer-content__link {
      padding-right: 0;
      padding-bottom: 20px;
    }
    .footer-social {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      width: 100%;
      gap: 0 16px;
    }
  }
  .meoes {
    width: 1535px;
    height: 730px;
    background-color: #fff;
    z-index: 10000;
    position: relative;
    display: block;
}

.meoes img{
  width: 500px;
  height: 500px;
  margin-left: 500px;
}